div.furniture--button 
    ul
        li
            button
                a(href=`/images${routes.bed(style)}`) BED
        li
            button
                a(href=`/images${routes.chair(style)}`) CHAIR
        li
            button
                a(href=`/images${routes.cusion(style)}`) CUSION
        li
            button
                a(href=`/images${routes.lamp(style)}`) LAMP
        li
            button 
                a(href=`/images${routes.mirror(style)}`) MIRROR
        li
            button
                a(href=`/images${routes.sofa(style)}`) SOFA
        li
            button
                a(href=`/images${routes.table(style)}`) TABLE 