header.header 
    meta(name='viewport' content='width=device-width, initial-scale=1')
    .header__column 
        a(href=routes.home) Home &nbsp

    .header__column 
        ul  
        if !loggedUser
            li
                a(href=routes.join) Join &nbsp
            li
                a(href=routes.login) Log In &nbsp
        else
            li 
                a(href= `/images${routes.upload}`) Upload &nbsp;
            li 
                a(href=routes.logout) Log Out &nbsp   
                br
                br
                br