extends layouts/main
include mixins/imageBlock 

block content 
    .form-container
        if loggedUser && loggedUser.id === user.id
            .image__container
                .image__view
                    image(src=imageInfo.fileUrl crossorigin)

        div.furniture--button
            ul
                li
                    button.furitureBtn.clicked#BEDBtn BED
                li
                    button.furitureBtn#CHAIRBtn CHAIR
                li
                    button.furitureBtn#CUSHIONBtn CUSHION
                li
                    button.furitureBtn#LAMPBtn LAMP
                li
                    button.furitureBtn#MIRRORBtn MIRROR
                li
                    button.furitureBtn#SOFABtn SOFA
                li
                    button.furitureBtn#TABLE TABLE 

        .prod__box#BED
            ul.shopping--list
                each item in prodList[0]
                    li.shopping--box 
                        .shopping--info
                            .thumbnail
                                img(src=item.img_src)
                            .title
                                p 
                                    a(href=item.url)=item.title
                            .price 
                                p.ps=item.priceList[0] 
                                if item.priceList.length > 1
                                    p.ps ~
                                    p.ps=item.priceList[item.priceList.length-1]
                                p 원

            .shopping--site
                button
                    a(href=shoppingURLS[0]) 더 많은 침대 보러가기!

        .prod__box#CHAIR
            ul.shopping--list
                each item in prodList[1]
                    li.shopping--box 
                        .shopping--info
                            .thumbnail
                                img(src=item.img_src)
                            .title
                                p 
                                    a(href=item.url)=item.title
                            .price 
                                p.ps=item.priceList[0] 
                                if item.priceList.length > 1
                                    p.ps ~
                                    p.ps=item.priceList[item.priceList.length-1]
                                p 원
            .shopping--site
                button
                    a(href=shoppingURLS[1]) 더 많은 의자 보러가기!

        .prod__box#CUSHION
            ul.shopping--list
                each item in prodList[2]
                    li.shopping--box 
                        .shopping--info
                            .thumbnail
                                img(src=item.img_src)
                            .title
                                p 
                                    a(href=item.url)=item.title
                            .price 
                                p.ps=item.priceList[0] 
                                if item.priceList.length > 1
                                    p.ps ~
                                    p.ps=item.priceList[item.priceList.length-1]
                                p 원
            .shopping--site
                button
                    a(href=shoppingURLS[2]) 더 많은 쿠션 보러가기!

        .prod__box#LAMP
            ul.shopping--list
                each item in prodList[3]
                    li.shopping--box 
                        .shopping--info
                            .thumbnail
                                img(src=item.img_src)
                            .title
                                p 
                                    a(href=item.url)=item.title
                            .price 
                                p.ps=item.priceList[0] 
                                if item.priceList.length > 1
                                    p.ps ~
                                    p.ps=item.priceList[item.priceList.length-1]
                                p 원

            .shopping--site
                button
                    a(href=shoppingURLS[3]) 더 많은 전등 보러가기!

        .prod__box#MIRROR
            ul.shopping--list
                each item in prodList[4]
                    li.shopping--box 
                        .shopping--info
                            .thumbnail
                                img(src=item.img_src)
                            .title
                                p 
                                    a(href=item.url)=item.title
                            .price 
                                p.ps=item.priceList[0] 
                                if item.priceList.length > 1
                                    p.ps ~
                                    p.ps=item.priceList[item.priceList.length-1]
                                p 원
            .shopping--site
                button
                    a(href=shoppingURLS[4]) 더 많은 거울 보러가기!

        .prod__box#SOFA
            ul.shopping--list
                each item in prodList[5]
                    li.shopping--box 
                        .shopping--info
                            .thumbnail
                                img(src=item.img_src)
                            .title
                                p 
                                    a(href=item.url)=item.title
                            .price 
                                p.ps=item.priceList[0] 
                                if item.priceList.length > 1
                                    p.ps ~
                                    p.ps=item.priceList[item.priceList.length-1]
                                p 원
            .shopping--site
                button
                    a(href=shoppingURLS[5]) 더 많은 소파 보러가기!

        .prod__box#TABLE
            ul.shopping--list
                each item in prodList[6]
                    li.shopping--box 
                        .shopping--info
                            .thumbnail
                                img(src=item.img_src)
                            .title
                                p 
                                    a(href=item.url)=item.title
                            .price 
                                p.ps=item.priceList[0] 
                                if item.priceList.length > 1
                                    p.ps ~
                                    p.ps=item.priceList[item.priceList.length-1]
                                p 원       
            .shopping--site
                button
                    a(href=shoppingURLS[6]) 더 많은 책상 보러가기!