extends layouts/main
include mixins/imageBlock 

block content 
    .form-container
        .image__container
            .image__view
                image(src=`/${imageInfo.fileUrl}`)

        .image-furniture__container 
            ul.furniture__list
                li.furniture__box
                    button
                        //spann#leftSide BED
                        a(href=`/images${routes.bed(style)}`) BED
                li.furniture__box
                    button
                        a(href=`/images${routes.chair(style)}`) CHAIR
                li.furniture__box
                    button
                        a(href=`/images${routes.cusion(style)}`) CUSION
                li.furniture__box
                    button
                        a(href=`/images${routes.lamp(style)}`) LAMP
                li.furniture__box
                    button 
                        a(href=`/images${routes.mirror(style)}`) MIRROR
                li.furniture__box
                    button
                        a(href=`/images${routes.sofa(style)}`) SOFA
                li.furniture__box
                    span#blankSide
                li.furniture__box
                    button
                        a(href=`/images${routes.table(style)}`) TABLE 
                li.furniture__box
                    span#blankSide
                    br
                <!--.shopping-link__list#jsContent -->
                        <!--each link_info in data -->
                            <!--.shopping-link -->
                                <!--a.link(crossorigin="anonymous", href= link_info.url alt=link_info.title) -->
                                    <!--img(crossorigin="anonymous", src= link_info.img_src)-->
                                    <!--span= link_info.title-->  
