extends layouts/main
include mixins/imageBlock 

block content 
    .form-container
        include ./partials/furnitureButton

        ul.shopping--list
            li.shopping--box
                //button.shopping--button
                .shopping--info
                    .thumbnail 
                        img(src="/uploads/images/26580952052429334_342193540.png")
                    .title
                        p
                            a(href="https://smartstore.naver.com/dongsuhfurniture/products/5693796956?NaPm=ct%3Dl8iut6nk%7Cci%3D0JjQ0e1QH35xJpAdM1n5%7Ctr%3Dpla%7Chk%3D72a42ee0a89b79bf3c47feca445e4f08608f5639") 동서가구 LV 빈티지 엔틱 로맨틱 안방 가죽 퀸 침대프레임 Q
                    .price    
                        p.ps 199,000 
                        p.ps ~ 
                        p.ps 342,000
                        p 원 
            each item in data 
                li.shopping--box 
                    //button.shopping--button 
                    .shopping--info
                        .thumbnail
                            img(src=item.img_src)
                        .title
                            p 
                                a(href=item.url)=item.title
                        .price 
                            p.ps=item.priceList[0] 
                            if item.priceList.length > 1
                                p.ps ~
                                p.ps=item.priceList[item.priceList.length-1]
                            p 원
                                        

        .shopping--site
            button
                a(href=url) 더 많은 전등 보러가기!
